<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body> 
    <h1 style="color: red;" thjs:text="${msg}">(msg)</h1>
    <form action="login" method="post">
        email : <input type="email" name="email">
        <button type="submit">Se Connecter</button>
        <button><a href="/register"> S'inscrire </a></button>
    </form>
</body>
</html>