<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="register" method="post">
    email : <input type="email" name="email" id="email"><br>
    nom: <input type="text" name="nom" id="nom"><br>
    prenom : <input type="text" name="prenom" id="prenom"><br>
    entité : <input type="text" name="entite" id="entite"><br>
    <button type="submit">S'inscrire</button> 
    </form>  
</body>
</html>